.about-us {
  background-image: url("../img/about-us/history-part/back-ground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.about-us {
  padding: 100px 0 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.about-us__content {
  text-align: center;
  margin-bottom: 30px;
}

.about-us__title {
  font: var(--section-text-font-family);
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.4px;
  line-height: 20.4px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--wine-club-how-works-header-title-color);
}

.about-us__subtitle {
  text-align: center;
  font: var(--paragraph-text-font-family);
  font-size: 52px;
  font-weight: 500;
  line-height: 57.2px;
  overflow: break-word;
  margin-bottom: 20px;
  color: var(--wine-club-how-works-subtitle);
}

.about-us__point,
.winemaking-process__point {
  color: var(--distribution-specific-symbol);
  font-family: var(--paragraph-text-font-family);
  font-size: 52px;
  line-height: 57.2px;
  text-align: center;
}

.about-us__description {
  font: var(--section-text-font-family);
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  line-height: 28.5px;
  margin-bottom: 20px;
  color: var(--wine-club-how-works-description);
}

.about-us__image {
  margin-top: 30px;
  margin-bottom: 50px;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
}

.about-us__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center top;
}

.about-us__text-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  align-items: start;
  font-size: 17px;
  line-height: 25.5px;
  font-weight: 400;
  color: var(--wine-club-how-works-description);
  margin-bottom: 18px;
  text-align: left;
}

@media (max-width: 768px) {
  .about-us__text-container {
    grid-template-columns: 1fr;
    text-align: left;
  }
}

.timeline-wrapper {
  width: 100%;
  padding: 5px 20px 50px 20px;
  box-sizing: border-box;
}

.timeline {
  max-width: 1200px;
  margin: 0 auto; 
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  justify-items: center;
  width: 100%;
}

.timeline__item {
  text-align: left; 
  padding: 10px;
  box-sizing: border-box; 
  width: 100%;
}

.timeline__date {
  font-size: 33px;
  font-weight: 500;
  font-family: "Cormorant Infant", serif;
  position: relative;
  line-height: 39.6px;
  color: var(--wine-club-how-works-subtitle);
}

.timeline__date::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 34px;
  height: 2.5px;
  background-color: var(--wine-club-how-works-header-title-color);
}

.timeline__description {
  margin-top: 30px;
  font-size: 17px;
  line-height: 25.5px;
  font-weight: 400;
  color: var(--wine-club-how-works-description);
}

@media (max-width: 768px) {
  .timeline {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .timeline__date {
    text-align: left;
  }

  .timeline__date::before {
    width: 15%;
  }
}

.winemaking-process {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.carousel {
  text-align: center;
  margin-bottom: 30px;
}

.winemaking-process__title {
  font: var(--section-text-font-family);
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.4px;
  line-height: 20.4px;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 20px;
  color: var(--wine-club-how-works-header-title-color);
}

.winemaking-process__subtitle {
  text-align: center;
  font: var(--paragraph-text-font-family);
 font-size: 52px;
  font-weight: 500;
  line-height: 57.2px;
  overflow: break-word;
  margin-bottom: 20px;
  color: var(--wine-club-how-works-subtitle);
}

.winemaking-process__description {
  font: var(--section-text-font-family);
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  line-height: 28.5px;
  margin-bottom: 20px;
  color: var(--wine-club-how-works-description);
}

.winemaking-process__carousel {
  display: flex;
  overflow: hidden;
  position: relative;
  padding: 40px;
}

.winemaking-process__slide {
  min-width: 33.333%;
  box-sizing: border-box;
  transition: transform 0.5s ease-in-out;
  padding: 0 10px;
}

.winemaking-process__image {
  width: 100%;
  height: 250px; /* Fixed height for images */
  object-fit: cover; /* Preserve image aspect ratio and fill container */
}

.winemaking-process__info {
  text-align: left;
  margin-top: 30px;
  position: relative; /* Ensure button can be positioned absolutely */
}

.winemaking-process__step {
  font-size: 26px;
  font-family: "Cormorant Infant", serif;
}

.winemaking-process__button {
  background: none;
  border: none;
  color: #bc6e44;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute; /* Position button absolutely */
  top: 0; /* Align to the top of the parent */
  right: 0; /* Align to the right of the parent */
}

.winemaking-process__details {
  display: none;
  margin-top: 30px;
  text-align: left; /* Align text to the left */
}

.winemaking-process__detail {
  font-size: 1rem;
  margin-bottom: 40px;
}


