.collection-wine__container {
  padding-bottom: 90px;
  padding-top: 80px;

  background-color: (250, 248, 242);
}

.collection__description {
  line-height: 25.5px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.collection__title {
  color: rgb(188, 110, 68);
  font-family: "Spectral", serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.4px;
  line-height: 20.4px;
  text-align: left;
  text-transform: uppercase;
}

.collection__subtitle {
  color: rgb(42, 40, 36);
  font-family: "Cormorant Infant", serif;
  font-size: 52px;
  font-weight: 500;
  line-height: 57.2px;
  text-align: left;
}

.collection__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.collection__item {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.collection__item-title {
  color: rgb(42, 40, 36);
  font-family: "Cormorant Infant", serif;
  font-size: 28px;
  font-style: italic;
  font-weight: 500;
  text-align: left;
  position: relative;
  padding-right: 120px; /* Додаємо простір для ціни */
}

.collection__price {
  color: rgb(188, 110, 68);
  font-family: "Cormorant Infant", serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 33.6px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.collection__item-title::after {
  content: "";
  position: absolute;
  left: 100%;
  right: 120px; /* Від правого краю до ціни */
  height: 1px;
  background-color: rgba(0, 0, 0, 0.06);
  top: 50%;
  transform: translateY(-50%);
}

.collection__item-description {
  color: rgb(131, 125, 113);
  font-family: "Spectral", serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 25.5px;
  text-align: left;
  margin-top: 5px;
}
