.collection__header-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
    url("../img/header-hero/collection.header.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.collection__header__bottom {
  padding-bottom: 110px;
  padding-top: 70px;
  max-width: 1200px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.collection__header__title h1 {
  color: rgb(255, 255, 255);
  font-family: "Cormorant Infant", serif;
  font-size: 52px;
  font-style: italic;
  font-weight: 500;
  line-height: 57.2px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}
.collection__header__subtitle p {
  color: rgb(255, 255, 255);
  display: inline;
  font-family: "Spectral", serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 25.5px;
}
.header__separator {
  width: 99%;
  margin: 0 auto;
  color: var(--footer-separator);
  opacity: 0.2;
  margin: 20px;
}
.collection__subtitle-paragraph {
  color: var(--header-contact-text-second-color);
}
.collection__subtitle-link {
  color: var(--header-contact-text-second-color);
  text-decoration: none;
}
.collection__subtitle-link:hover {
  color: var(--header-contact-text-color);
  text-decoration: underline;
}
