.nearest-tasting {
  background: url(../img/tasting-menu/nearest-testing-background.jpg);
  background-size: cover;
  min-height: 500px;
  max-height: 2040px;
  background-position: center;
  display: grid;
  align-items: center;
  justify-content: center;
  padding-bottom: 110px;
  padding-top: 110px;
  position: relative;
  z-index: 1;
}

.nearest-tasting__container {
  min-width: 320px;
  max-width: 1200px;
  padding: 15px;
  display: grid;
  gap: 50px;
  position: relative;
}

.nearest-tasting__header {
  margin-top: 50px;
  display: grid;
  gap: 10px;
  
}

.nearest-tasting_title {
  color: rgb(255, 255, 255);
  font-family: "Spectral", serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.4px;
  line-height: 20.4px;
  text-align: left;
  text-transform: uppercase;
}

.nearest-tasting_subtitle {
  color: rgb(255, 255, 255);
  font-family: "Cormorant Infant", serif;
  font-size: 38px;
  font-weight: 500;
  line-height: 41.8px;
  text-align: left;
}

.nearest__special {
  color: rgb(255, 255, 255);
  font-family: "Cormorant Infant", serif;
  font-size: 38px;
  font-style: italic;
  font-weight: 500;
  line-height: 41.8px;
  text-align: left;
}

.nearest__special-point {
  color: rgb(188, 110, 68);
  font-family: "Cormorant Infant", serif;
  font-size: 38px;
  font-style: italic;
  font-weight: 500;
  line-height: 41.8px;
  text-align: left;
}

.nearest-tasting__description {
  color: rgba(250, 248, 242, 0.69);
  font-family: "Spectral", serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 28.5px;
  text-align: left;
}

.nearest-tasting__item-list {
  display: grid;
  gap: 50px;
}

.nearest-tasting__item {
  display: grid;
  gap: 10px;
}

.nearest-tasting__item-information {
  display: grid;
  gap: 10px;
}

.nearest-tasting__item-title {
  color: rgb(255, 255, 255);
  font-family: "Cormorant Infant", serif;
  font-size: 28px;
  font-style: italic;
  font-weight: 500;
  line-height: 33.6px;
  text-align: left;
}

.nearest-tasting__item-description {
  color: rgba(250, 248, 242, 0.69);
  display: block;
  font-family: "Spectral", serif;
  font-size: 17px;
  line-height: 25.5px;
  text-align: left;
}

.nearest-tasting__item-title li {
  color: rgba(250, 248, 242, 0.69);
  display: block;
  font-family: "Spectral", serif;
  font-size: 17px;
  line-height: 25.5px;
  text-align: left;
}

@media (min-width: 768px) {
  .nearest-tasting {
    grid-template-columns: 1fr 1fr;
  }

  .nearest-tasting::before {
    content: "";
    display: block;
    width: 50%;
    height: 100%;
    grid-column: 1 / 2;
  }

  .nearest-tasting__container {
    grid-column: 2 / 3;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  .nearest-tasting__item-list {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (max-width: 767px) {
  .nearest-tasting__container {
    grid-template-columns: 1fr;
  }

  .nearest-tasting__item-list {
    grid-template-columns: 1fr;
    justify-items: start;
  }
}

.tasting-menu {
  background-image: url("../img/tasting-menu/tasting-background.png");
  background-size: cover;
  background-position: center;
  overflow-wrap: break-word;
  border: 0.125rem solid rgba(0, 0, 0, 0);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  background-origin: border-box;
  background-repeat: no-repeat;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  min-width: 320px;
  max-width: 100%;
  font-weight: 400;
  line-height: 1.594rem;
  padding-top: 90px;
  padding-bottom: 70px;
  z-index: 1;
}

.tasting-menu__container {
  max-width: 1200px;
}

.tasting-menu__header {
  padding-left: 15px;
  padding-right: 15px;
}

.tasting-menu__title {
  color: rgb(188, 110, 68);
  font-family: "Spectral", serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.4px;
  line-height: 20.4px;
  text-align: center;
  text-transform: uppercase;
}

.tasting-menu__subtitle {
  color: rgb(42, 40, 36);
  font-family: "Cormorant Infant", serif;
  font-size: 38px;
  font-weight: 500;
  line-height: 41.8px;
  text-align: center;
}

.tasting-menu__description {
  color: rgb(131, 125, 113);
  font-family: "Spectral", serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 28.5px;
  text-align: center;
}

.tasting-menu__item-list {
  background-color: rgb(250, 248, 242);
  width: 100%;
  line-height: 1.594rem;
  text-align: center;
  margin-top: 3.125rem;
}

.tasting-menu__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  text-align: left;
  padding: 30px 40px;
  -webkit-font-smoothing: antialiased;
  margin-left: 15px;
  margin-right: 15px;
  justify-content: space-between;
  position: relative;
}

.tasting-menu__item + .tasting-menu__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(42, 40, 36);
  opacity: 0.2;
  position: absolute;
  right: 0;
  text-align: left;
  top: -1px;
}

.tasting-menu__item-title {
  color: rgb(42, 40, 36);
  font-family: "Cormorant Infant", serif;
  font-style: italic;
  font-size: 24px;
  font-weight: 500;
  line-height: 33.6px;
  text-align: left;
}

.tasting-menu__item-description {
  color: rgb(131, 125, 113);
  font-family: "Spectral", serif;
  font-size: 17px;
  line-height: 25.5px;
  text-align: left;
}

@media (max-width: 1200px) {
  .tasting-menu__item {
    grid-gap: 20px;
  }
}

@media (max-width: 992px) {
  .tasting-menu__item {
    grid-gap: 15px;
  }
}

@media (max-width: 768px) {
  .tasting-menu__item {
    grid-template-columns: 1fr;
  }

  .tasting-menu__item-title,
  .tasting-menu__item-description {
    grid-column: 1;
  }
}
.tasting-menu__schedule {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: start;
  background-color: rgb(188, 110, 68);
  border: 0.125rem solid rgba(0, 0, 0, 0);
  position: relative;
  box-sizing: border-box;
  background-origin: border-box;
  background-repeat: no-repeat;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  min-width: 320px;
  max-width: 100%;
  width: 100%;
  font-weight: 400;
  line-height: 1.594rem;
  padding-top: 60px;
  padding-bottom: 50px;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}

.tasting-menu__schedule-text {
  grid-column: 1 / 2;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

.tasting-menu__schedule-title {
  color: rgb(250, 248, 242);
  font-family: "Spectral", serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.4px;
  line-height: 20.4px;
  text-align: left;
  text-transform: uppercase;
}

.tasting-menu__schedule-subtitle {
  color: rgb(255, 255, 255);
  display: inline;
  font-family: "Cormorant Infant", serif;
  font-size: 45px;
  font-weight: 500;
  line-height: 49.5px;
  text-align: left;
}

.schedule__special {
  color: rgb(255, 255, 255);
  font-family: "Cormorant Infant", serif;
  font-size: 45px;
  font-style: italic;
  font-weight: 500;
  line-height: 49.5px;
  text-align: left;
}

.tasting-menu__schedule-description {
  color: rgba(250, 248, 242, 0.69);
  font-family: "Spectral", serif;
  font-size: 17px;
  font-style: italic;
  font-weight: 400;
  line-height: 25.5px;
  text-align: left;
}

.tasting-menu__schedule-form {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(188, 110, 68);
  padding: 20px;
}

.tasting__form {
  width: 300px;
}

.schedule__form-group {
  position: relative;
  margin-bottom: 15px;
}

.schedule__input {
  width: 100%;
  padding: 10px;
  background-color: rgba(250, 248, 242, 0.13);
  color: rgb(250, 248, 242);
  font-size: 14px;
  border: none;
  box-sizing: border-box;
  font-family: "Spectral", serif;
}

.schedule__input::placeholder {
  color: transparent;
}

.schedule__label {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0 5px;
  font-size: 14px;
  background-color: rgba(250, 248, 242, 0.13);
  color: rgb(255, 255, 255);
  direction: ltr;
  background-color: transparent;
  transform: translateY(0);
  transition:
    transform 0.2s,
    color 0.2s;
  pointer-events: none;
}

.schedule__input:focus + .schedule__label::before,
.schedule__input:not(:placeholder-shown) + .schedule__label::before {
  content: attr(data-content);
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 16px;
  color: rgb(188, 110, 68);
  transform: translateY(-50%);
}

.schedule__submit {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 15px;
  font-family: "Spectral", serif;
  cursor: pointer;
  transition:
    background-color 0.2s,
    color 0.2s;
  margin-top: 10px;
}

.schedule__submit:hover {
  background-color: #fff;
  color: #000;
}

@media (max-width: 768px) {
  .tasting-menu__schedule {
    grid-template-columns: 1fr;
  }

  .tasting-menu__schedule-form {
    grid-column: 1 / 2;
    margin-top: 20px;
  }

  .tasting-menu__schedule-text {
    grid-column: 1 / 2;
    padding-left: 20px;
    padding-right: 20px;
  }
}
