.distribution {
  background-image: url("../img/distribution/background.svg");
  background-size: cover;
  background-position: center;
  overflow-wrap: break-word;
  border: 0.125rem solid rgba(0, 0, 0, 0);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  background-origin: border-box;
  background-repeat: no-repeat;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  min-width: 320px;
  max-width: 1200px;
  font-weight: 400;
  line-height: 1.594rem;
  padding-top: 5.625rem;
  padding-bottom: 5.625rem;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}

.distribution__container {
  max-width: 75rem;

  .distribution__header {
    font-size: 1.063rem;
    font-weight: 400;
    line-height: 1.594rem;
    text-align: center;
    padding-left: 0.938rem;
    padding-right: 0.0938rem;
  }

  .distribution__subtitle {
    font-family: var(--section-text-font-family);
    color: var(--distribution-subtitle-color);
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    text-align: center;
  }
}

.distribution__title {
  font-family: var(--paragraph-text-font-family);
  color: var(--distribution-title-color);
  font-size: 2.375rem;
  font-weight: 500;
  line-height: 2.615rem;
  text-align: center;
}

.distribution__description {
  font-family: var(--section-text-font-family);
  color: var(--distribution-description-color);
  font-size: 1.188rem;
  font-weight: 500;
  line-height: 1.781rem;
  text-align: center;
}

.distribution__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 30px;
  width: 100%;
  line-height: 1.594rem;
  text-align: center;
  margin-top: 3.125rem;
}

.distribution__item {
  border: 0.1rem solid var(--distribution-border-item-color);
  padding: 20px 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.distribution__item-title {
  font-family: var(--section-text-font-family);
  color: var(--distribution-item-title-color);
  font-style: normal;
  font-size: 1.188rem;
  font-weight: 500;
  line-height: 1.781rem;
  text-align: center;
}

.distribution__item-location {
  font-family: var(--section-text-font-family);
  color: var(--distribution-item-location-color);
  font-size: 1.063rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.594rem;
  margin-bottom: 1.25rem;
  text-align: center;
}

.distribution__item-link {
  font-family: var(--section-text-font-family);
  color: var(--distribution-item-link-color);
  font-size: 1.063rem;
  font-weight: 400;
  line-height: 1.594rem;
  cursor: pointer;
  text-decoration: none !important;
  text-align: center;
  text-decoration-color: var(--distribution-text-decoration-color);
  text-decoration-line: none;
  text-decoration-thickness: auto;
  text-transform: none;
}

.distribution__item-link:hover,
.distribution__item-link:focus {
  text-decoration: underline;
}
.distribution__note {
  font-size: 1.063rem;
  line-height: 1.594rem;
  padding-left: 0.938rem;
  padding-right: 0.935rem;
  padding-top: 3.125rem;
}

.distribution__note-text {
  font-family: var(--section-text-font-family);
  color: var(--distribution-note-text-color);
  font-size: 1.063rem;
  font-weight: 400;
  line-height: 1.594rem;
  text-align: left;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.distribution__note-warning {
  font-family: var(--section-text-font-family);
  color: var(--distribution-note-text-color);
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.594rem;
  text-align: left;
  padding-top: 0.625rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}
.specific-symbol {
  color: var(--distribution-specific-symbol);
  font-family: var(--paragraph-text-font-family);
  font-size: 3.375rem;
  line-height: 2.613rem;
  text-align: center;
}
.warning-symbol {
  color: var(--distribution-specific-symbol);
  font-family: var(--section-text-font-family);
  font-size: 0.875rem;
  font-style: var(--distribution-font-style);
  line-height: 1.25rem;
  text-align: left;
}

@media (min-width: 768px) {
  .distribution__item {
    margin-left: 0;
    margin-right: 6.25rem;
  }

  .distribution__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .distribution__item {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  .distribution__note-text {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  .distribution__note-warning {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  .distribution__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .distribution {
    max-width: 100%;
  }
}

@media (max-width: 1200px) {
  .distribution {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/* додаємо карту */

/* Стиль для контейнера мапи */
.map__container {
  position: relative;
  width: 100%;
  height: 857.775px;
  z-index: 3;
}

/* Стиль для iframe мапи */
.map__iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* Стиль для адресного вікна */
.map__address-box {
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: max-content;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  top: 50%; /* Позиціонування по вертикалі на 50% */
  left: 50%; /* Позиціонування по горизонталі на 50% */
  transform: translate(-50%, -150%); /* Зміщення блоку вліво і вгору */
}

.map__address-box::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
}

.map__address-box h3 {
  font-family: "Cormorant Infant", serif;
  font-size: 15px;
  margin: 0;
  font-weight: 500;
  text-decoration-color: rgb(42, 40, 36);
  text-decoration-line: none;
  text-decoration-style: solid;
  padding-top: 50px;
}

.map__address-box p {
  font-family: "Spectral", serif;
  color: rgb(131, 125, 113);
  font-size: 13px;
  font-weight: 400;
  height: 39px;
  line-height: 19.5px;
  margin: 5px 0 0;
  font-size: 0.875rem;
  font-weight: 400;
}
.map__address {
  padding: 12px;
}

.map__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.map__close-button::before {
  content: "✖";
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.5);
}

/* Стиль для вікна робочих годин */
map__working-hours {
  .map__working-hours {
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    z-index: 3;
    width: 300px; /* Фіксована ширина вікна */
    max-width: 305px; /* Максимальна ширина на всіх екранах */
    text-align: center;
    bottom: 50px; /* Позиціонування відносно нижнього краю контейнера */
    right: 50px; /* Позиціонування відносно правого краю контейнера */
  }

  @media (max-width: 990px) {
    .map__working-hours {
      bottom: 50px; /* Позиціонування на 50px нижче точки на мапі */
      right: 50%; /* Центруємо горизонтально */
      transform: translateX(50%); /* Центруємо горизонтально */
      width: auto; /* Розтягуємо вікно на всю ширину екрану */
      max-width: 305px; /* Знімаємо обмеження максимальної ширини */
    }
  }

.map__working-hours h3 {
  font-family: "Cormorant Infant", serif;
  font-size: 30px;
  margin: 0;
  font-weight: 500;
  text-align: center;
}
.hours__line {
  color: rgb(188, 110, 68);
}

.map__working-hours p {
  color: rgb(131, 125, 113);
  font-family: "Spectral", serif;
  font-size: 17px;
  margin: 5px 0 0;
  font-weight: 400;
  line-height: 25.5px;
  pointer-events: auto;
  text-align: center;
  font-style: italic;
  padding-left: 40px;
  padding-right: 40px;
}
