.guided-tour-background {
  background-image: url("../img/guided-tour/background-guided-tour.png");
  background-size: cover; /* Забезпечує розміщення фонового зображення на всій площині */
  display: flex;
  justify-content: center; /* Вирівнює контент по центру горизонтально */
}

.guided-tour-container {
  max-width: 1200px; /* Максимальна ширина контейнера */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Рівномірно розподіляє простір між елементами */
  padding: 20px; /* Внутрішні відступи */
}

.guided-tour-column {
  flex: 0 0 calc(50% - 20px); /* Ширина колонок - половина від контейнера, мінус внутрішні відступи */
  padding: 20px; /* Внутрішні відступи для кожної колонки */
  box-sizing: border-box; /* Враховує внутрішні відступи та границі у визначенні ширини */
}

.guided-tour-column:first-child {
  margin-right: 20px; /* Відступ між першою та другою колонкою */
}

@media (max-width: 768px) {
  .guided-tour-column {
    flex: 0 0 100%; /* При меншій ширині екрану колонки займають всю доступну ширину */
    margin-right: 0; /* Видаляє відступ між колонками */
  }
}
.wine-experience img {
  width: 50px;
}
.guided-tour__paragraph {
  font-family: "Cormorant Infant", serif;
  font-size: 17px;
  font-weight: 400;
  color: var(--color-paragraph-text);
  margin-bottom: 30px;
}

.wine-experience {
  display: flex;
  justify-content: left;
}
.guided-tour_title {
  font-family: "Cormorant Infant", serif;
  font-size: 28px;
  font-weight: 400;
  font-style: italic;
  margin: 0;
}

.wine-experience-header {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

.wine-experience-header img {
  margin-right: 10px;
  margin-bottom: 30px;
}



/* випадаюче меню */

.accordion-item {
  border-bottom: none;
  height: 80px;
}

.accordion-header {
  font-family: 'Spectral', serif;
  font-size: 19px;
  color: #544E4C;
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.toggle-label {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.accordion-content {
  font-family: 'Spectral', serif;
  font-size: 17px;
  color: #837D71;
  display: none;
  padding: 10px;
}
