.visit-us__container {
  max-width: 1200px;
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  padding-left:30px;
  padding-right: 30px;
}

.visit-us {
  width: 100%;
  background-image: url("../img/visit-us/background-visit-us.png");
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.visit-us__content {
  flex: 1;
  padding-right: 20px;
}

.visit-us__paragraph{
  font-family: "Spectral", serif;
  font-size: 12px;
  font-weight: 600;
  color: var(--contacts-visit-us-paragraph-color);
  border-radius: inherit;
  
}

.tasting-conditions__title {
  font-family: "Spectral", serif;
  font-size: 38px;
  font-weight: 100;
  font-stretch: 100%;
  line-height: 41.8px;
  color: var(--contacts-visit-us-title-color);
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
}

.visit-us-description__title {
  font-family: "Spectral", serif;
  font-size: 19px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 30px;
  color: var(--contacts-visit-us-description-title);
}
.visit-us-description__text {
  font-family: "Spectral", serif;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 20px;
  color: var(--contacts-visit-us-description-text);
}

.visit-us__form {
  flex: 1;
  padding: 40px;
  margin-top: 40px;
  border: 2px solid var(--contacts-visit-us-form-border);
  background-color: var(--contacts-visit-us-form-background-color);
}

.visit-us__links {
  display: flex;
  font-family: "Spectral", serif;
  font-size: 17px;
  font-style: italic;
  font-weight: 400;
  tab-size: 4;
  text-decoration: underline;
  justify-content: space-around;
  margin-bottom: 20px;
}

.visit-us__links a {
  text-decoration: none;
  color:  var(--contacts-visit-us-links-a);
  transition: color 0.3s ease;
}

.visit-us__links a:hover {
  color: var(--contacts-visit-us-links-hover);
}

.visit-us__section--terms,
.visit-us__section--privacy {
  margin-bottom: 20px;
}

.visit-us__list {
  list-style-type: none;
  padding-left: 20px;
}

.visit-us__list-item {
  font-family: "Spectral", serif;
  font-size: 17px;
  color: var(--contacts-visit-us__list-item);
  margin-bottom: 0;
}

.visit-us__list-item svg {
  width: 24px; /* Задаємо ширину іконки */
  height: 24px; /* Задаємо висоту іконки */
  vertical-align: middle; /* Вирівнюємо іконку з текстом по вертикалі */
  margin-right: 8px; /* Додаємо невеликий відступ між іконкою та текстом */
}

.visit-us__list-item svg path {
  fill: #bc6f44;
}

.icons-text{
  width: 24px; 
  height: 24px; 
  margin-bottom: 50px;
  color: var(--contacts-tasting-conditions-icon);

}

.visit-us__form-group {
  margin-bottom: 30px;
  position: relative;
}

.visit-us__label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  padding: 0 5px;
  color: var(--contacts-visit-us-label);
  pointer-events: none;
  transition:
    top 0.3s,
    font-size 0.3s;
}

.visit-us__input:focus + .visit-us__label,
.visit-us__input:not(:placeholder-shown) + .visit-us__label,
.visit-us__textarea:focus + .visit-us__label,
.visit-us__textarea:not(:placeholder-shown) + .visit-us__label {
  top: -10px;
  font-size: 0.75em;
}

.visit-us__input,
.visit-us__textarea {
  width: 100%;
  padding: 20px 10px 10px 10px;
  border: 1px solid var( --contacts-visit-us-input-border); 
  background-color: var(--contacts-visit-us-input-input-background);
  border-radius: 4px;
  box-sizing: border-box;
}

.visit-us__textarea {
  height: 100px;
  resize: none;
}

.visit-us__submit {
  display: inline-block;
  background-color: var( --contacts-visit-us-submit-background);
  color: var(--contacts-visit-us-submit);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.visit-us__submit:hover {
  background-color: var(--contacts-visit-us-submit-hover);
}

.visit-us__full-width-section {
  flex: 1 100%;
  margin-top: 20px;
}
