.container {
    background-color: #fdf8f5;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.column {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 12px #aaa;
}

.column:first-child {
    margin-right: 20px;
}