

.guided-tour-background {
  background-image: url("../img/guided-tour/background-guided-tour.png");
  background-size: cover; /* Забезпечує розміщення фонового зображення на всій площині */
  display: flex;
  justify-content: center; /* Вирівнює контент по центру горизонтально */
}

.guided-tour-container {
  max-width: 1200px; /* Максимальна ширина контейнера */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Рівномірно розподіляє простір між елементами */
  padding: 20px; /* Внутрішні відступи */
}

.guided-tour-column {
  flex: 0 0 calc(50% - 20px); /* Ширина колонок - половина від контейнера, мінус внутрішні відступи */
  padding: 20px; /* Внутрішні відступи для кожної колонки */
  box-sizing: border-box; /* Враховує внутрішні відступи та границі у визначенні ширини */
}

.guided-tour-column:first-child {
  margin-right: 20px; /* Відступ між першою та другою колонкою */
}

@media (max-width: 768px) {
  .guided-tour-column {
    flex: 0 0 100%; /* При меншій ширині екрану колонки займають всю доступну ширину */
    margin-right: 0; /* Видаляє відступ між колонками */
  }
}
.wine-experience img{
  width: 50px;
}
.guided-tour__paragraph {
  font-family: "Cormorant Infant", serif;
  font-size: 17px;
  font-weight: 400;
  color: var(--color-paragraph-text);
  margin-bottom: 30px;
}

.wine-experience {
  display: flex;
  justify-content: left;
}
.guided-tour_title {
  font-family: "Cormorant Infant", serif;
  font-size: 28px;
  font-weight: 400;
  font-style: italic;
  margin: 0;
}

.wine-experience-header {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

.wine-experience-header img {
  margin-right: 10px; /* Відстань між зображенням та заголовком */
  margin-bottom: 30px;
}
.additional-text-header {
  font-family: "Spectral", serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 28.5px;
  margin-bottom: 20px;
  color: var(--color-additional-text);
}
/* випадаюче меню */

.toggle-label {
  cursor: pointer;
  font-size: 24px;
  margin-left: 10px;
  margin-bottom: 20px;
  display: flex;
  margin-right: auto; /* Відстань між плюсом і текстом */
  font-size: 24px; /*Розмір символу */
}

.additional-text {
  display: none;
  margin-top: 10px;
  padding: 10px;
}
.question-container {
  display: flex;
  align-items: center;
}

/* Приховування чекбоксу*/
.toggle-checkbox {
  display: none;
  justify-content: space-between;
}

.toggle-checkbox:checked + .additional-text {
  display: block;
}
