 
  .guided-tour__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .guided-tour__paragraph {
    font-family: "Cormorant Infant", serif;
    font-size: 17px;
    font-weight: 400;
    color: var(--color-paragraph-text);
    margin-bottom: 30px;
  }
  .guided-tour_title {
    font-family: "Cormorant Infant", serif;
    font-size: 28px;
    font-weight: 400;
    font-style: italic;
    margin: 0; 
  }

  .wine-experience-header {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .wine-experience-header img {
    margin-right: 10px; /* Відстань між зображенням та заголовком */
    margin-bottom: 30px;
  }
  .additional-text-header {
    font-family: "Spectral", serif;
    font-size: 19px;
    font-weight: 500;
    line-height: 28.5px;
    margin-bottom: 20px;
    color: var(--color-additional-text);

  }
/* випадаюче меню */

.toggle-label {
  cursor: pointer;
  font-size: 24px;
  margin-left: 10px;
  margin-bottom: 20px;
  display: flex;
  margin-right: auto; /* Відстань між плюсом і текстом */
  font-size: 24px; /* Розмір символу */
}

.additional-text {
  display: none;
  margin-top: 10px;
  padding: 10px;
}
.question-container {
  display: flex;
  align-items: center;
}

/* Приховування чекбоксу */
.toggle-checkbox {
  display: none;
  justify-content: space-between;
}

.toggle-checkbox:checked + .additional-text {
  display: block;
}

@media (min-width:1200px) {
  .guided-tour__container{
    max-width: 100%;
    padding-left: calc(100%-1200px)/2 + 24px;
    padding-right:calc(100%-1200px)/2 + 24px;
  
  }
  
}