.footer__container {
    background: var(--footer-bg-color);
    padding: 20px;
  }

  .footer__logo {
    width: var(--footer-logo-width);
    height: var(--footer-logo-height);
  }

  .footer__description {
    color: var(--footer-description-color);
    width: 545px;
    height: 65;
  }

  .footer__separator {
    width: 99%;
    margin: 0px auto;
  }

  .footer__menu-link {
    color: var(--footer-menu-link-color);
    text-decoration: none;
  }

  .footer__menu-link:hover {
    color: var(--footer-menu-link-hover-color);
    text-decoration: underline;
  }

  .footer__contact-link {
    text-decoration: none;
    color: var(--footer-contact-link-color);
  }

  .footer__contact-link:hover {
    text-decoration: underline;
  }

  .footer__contact-item {
    color: var(--footer-contact-item-color);
  }

  .footer__text {
    color: var(--footer-text-color);
  }
