@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@500&family=Spectral:wght@400;500;700&display=swap");
/* @import "global.header-nav.css";
@import "global.footer-nav.css"; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-footer-bg-top-color: rgba(42,40,36,0.82);
  --header-contact-text-color: #fff;
  --header-contact-text-second-color: #837d71;
  --header-menu-link-color:#ffffffb0;
  --header-menu-link-hover-color: #fff;
  /* --primary-dark-color: #2a2824;
  --primary-orang-color: #bc6e44;
  --primary-white-color: #ffffff;
  --primary-light-grey-color: #837d71;
  --footer-bg-color: #2a2824; */
  --footer-logo-width: 85px;
  --footer-logo-height: 68.7px;
  --footer-separator: #ffffff;
  --footer-description-color: #ffffffb0;
  --footer-menu-link-color: #ffffffb0;
  --footer-menu-link-hover-color: #ffffff;
  --footer-contact-link-color: #ffffff;
  --footer-contact-link-hover-color: #ffffff;
  --footer-contact-item-color: #bc6e44;
  --footer-text-color: #ffffffb0;
  --color-paragraph-text: #868076;
  --color-additional-text: #544e4d;
  --heading-section-text-color: #bc6e44;
  --paragraph-section-text-color: #2a2824;
  --paragraph-content-text-color: #837d71;
  --link-text-color: #544e4c;
  --background-color-signup: #bc6e44;
  --text-color-signup: #fff;
  --text-color-content-signup: #eddcd2;
  --text-color-background-link-categories: #000;
  --section-text-font-family: "Spectral", serif;
  --paragraph-text-font-family: "Cormorant Infant", serif;
  scroll-behavior: smooth;
  --wine-club-become-member__title: #ffffff;
  --wine-club-become-member__text: #ffffffcc;
  --wine-club-become-member__btn-border: #ffffff;
  --contacts-paragraph-color: #bc6e44;
  --contacts-color: #2a2824;
  --contacts-description-title: #837d71;
  --contacts-description-text: #837d71;
  --contacts-visit-us__list-item: #544e4c;
  --contacts-tasting-conditions-icon: #bc6f44;
  --contacts-visit-us-form-border: #faf8f2;
  --contacts-visit-us-form-background-color: #ffffff;
  --contacts-visit-us-links-hover: #007bff;
  --contacts-visit-us-links-a: #333;
  --contacts-visit-us-label: #999;
  --contacts-visit-us-submit: #faf8f2;
  --contacts-visit-us-submit-background: #bc6e44;
  --contacts-visit-us-submit-hover: #a55a34;
  --contacts-visit-us-input-input-border: #faf8f2;
  --contacts-visit-us-input-input-background: #faf8f2;
  --distribution-subtitle-color: #bc6e44;
  --distribution-title-color: #2a2824;
  --distribution-description-color: #837d71;
  --distribution-border-item-color: #faf8f2;
  --distribution-item-title-color: #544e4c;
  --distribution-item-location-color: #bc6e44;
  --distribution-item-link-color: #837d71;
  --distribution-text-decoration-color: #837d71;
  --distribution-note-text-color: #837d71;
  --distribution-specific-symbol: #bc6e44;
  --distribution-font-style: italic;
  --about-us-button: #BC6E44; 
  --about-us-button-text: #FFFFFF;
  --about-us-line: #837d71;
  --about-us-title:  #2a2824;
  --collection-tasting-menu-color: #ffffff;
  --collection-tasting-menu-discription: #faf8f2;
  --collection-tasting-menu-special: #bc6e44;
  --collection-tasting-menu-border:#000000;
  --collection-tasting-menu-subtitle: #2a2824;
  --collection-tasting-menu-item: #837d71;

}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}

/*  визначає гнучкий елемент, що має рівний розподіл простору
     *по людськи то розбивання на колонки */
/* .column {
  flex: 1;
  margin-left: 0;
  margin-right: 0;
  padding: 20px;
} */

.column:first-child {
  margin-right: 20px;
}

ul {
  list-style-type: none; /* Прибираємо маркери зі списку */
  padding: 0; /* Прибираємо відступи списку */
  margin: 0; /* Прибираємо відступи списку */
}

/*Щрифт для заголовків в мому випадку Guided Tours*/
.h-text-content {
  font-family: "Cormorant Infant", serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 43.2px;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
}
