.header__menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.header__contacts {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding-left: 120px;
  padding-right: 120px;
}
.header__menu-item {
  color: rgba(255, 255, 255, 0.66);
  cursor: pointer;
  display: block;
  font-family: "Spectral", serif;
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: left;
  text-decoration-color: rgba(255, 255, 255, 0.66);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  white-space-collapse: collapse;
}
