body {
    margin: 0;
}
.container {
    display: flex;
    flex-flow: column wrap;
}

img {
    display: block;
    max-width: 100%;
}

div.benefits__text {
    width: 260px;
    padding: 90px 30px 70px;
    
    .benefits__title {
        color: #bc6e44;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
    }
    .benefits__intro {
        color: #2a2824;
        font-size: 38px;
    }
    .benefits__paragraph{
        color: #837d87;
        font-size: 19px;
        
    }
}