section.benefits-signup {
  background-color: var(--background-color-signup);
}
div.benefits-container-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 25px 25px;
  height: 200px;

  font-weight: 500;
  .benefits-signup__intro {
    font-size: 30px;
    color: var(--text-color-signup);
  }
  .benefits-signup__paragraph {
    font-size: 19px;
    padding: 30px 0;
    color: var(--text-color-content-signup);
  }
  a.benefits-signup__link {
    width: 160px;
    margin: auto;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--text-color-signup);
    border: 1.6px solid var(--text-color-signup);
    padding: 10px 5px;
  }
  a.benefits-signup__link:hover {
    background-color: var(--text-color-signup);
    color: var(--link-text-color);
  }
}

@media (min-width: 768px) {
  div.benefits-container-signup {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 50px;
    div.benefits-container-signup-text {
      margin-right: 30px;
      p.benefits-signup__intro{
        margin-bottom: -15px;
      }
    }
  }
}
