

#carousel-rev .carousel-control-prev-icon,
#carousel-rev .carousel-control-next-icon {
    background-image: url(../img/index/index_wine_tastings_icon.svg);
}

/* Якщо вам потрібно змінити розмір зображення */
.carousel-control-prev img,
.carousel-control-next img {
    width: 20px; /* ваш розмір */
    height: auto; /* автоматично обчислений розмір */
}

.carousel-item img {
    position: relative;
}

.index-about-us-winegarden{
    display: grid;
    grid-template-columns: 1fr; /* Розділення на дві колонки */
    justify-content: center; /* Колонки по центру */
    margin-bottom: 20px;
}