body {
  font-family: 'Spectral', serif;
  margin: 0;  /* Відсутність зовнішніх відступів */
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
main {
  max-width: 1170px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.aboutus h1 {
  font: inherit;
  color: #bc6e44;
}
#about-us h2 {
  font-size: 52px;
  font-family: "Cormorant Infant", serif;
  text-align: left;
  margin-top: 1px;
  font-stretch: 100%;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  width: auto;
  margin-bottom: -50px;
}
#about-us h3::after {
  content: ".";
  color: #bc6e44;
}
#about-us h3 {
  font-size: 52px;
  font-family: "Cormorant Infant", serif;
  text-align: left;
  font-stretch: 100%;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  width: auto;
}
.italic {
  font-style: italic;
}
#about-us p {
  color: #837D71;
  font-size: 18px;
  text-align: left;
  display: flex;
  max-width: 500px;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}
#about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
}
#vineyard {
  text-align: center;
  margin: 20px 0;
}
#vineyard img {
  width: 100%;
  height: auto;
  max-width: 1200px;
}

#stats .number-item h2 {
  color: #BC6E44;
  font-size: 36px;
  font-weight: 500;
  font-family: "Cormorant Infant", serif;
  font-style: italic;
}
#stats .number-item p {
  color: #837D71;
  font-family: Spectral, serif;
  font-size: 18px;
}
.numbers-container {
  /*display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.number-item {
  text-align: left;
  flex: 1;
}

.number-item hr {
  width: 10%;
  color: #2a2824;
  opacity: 0.2;
  text-align: left;
  margin-left: 0;
  line-height: 25.5px;
}
#gourmand-choice h3 {
  color: #BC6E44;
  font-family: Spectral, serif;
  font-size: 12px;
}
#gourmand-choice h2 {
  color: #2A2824;
  font-size: 52px;
  font-family: "Cormorant Infant", serif;
  font-weight: 500;
  max-width: 450px;
}
#gourmand-choice h2::after {
  content: ".";
  color: #bc6e44;
}
#gourmand-choice p {
  color: #837D71;
  font-size: 18px;
  text-align: left;
  display: flex;
  max-width: 500px;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}
#gourmand-choice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.text-container {
  flex: 1;
}
.carousel-container {
  position: relative;
  width: 60%;
}
.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
}
.wine {
  flex: 0 0 33.3333%;
  text-align: center;
  padding: 20px;
}
.wine img {
  width: 78px;
  height: auto;
  padding: 1px;
}
.wine h3 {
  color: #2A2824;
  font-family: Spectral, serif;
  font-size: 12px;
}
.wine p {
  color: #BC6E44;
  font-family: Spectral, serif;
  font-style: italic;
  font-size: 15px;
}
.wine button {
  padding: 10px 20px;
  margin-top: 10px;
  color: white;
  font-family: Spectral, serif;
  background-color: #BC6E44;
  border: none;
  font-weight: 400;
}
.wine button:hover {
  background-color: #837D71;
}
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2em;
  padding: 10px;
  cursor: pointer;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
#wines {
  display: flex;
}
#main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 1024px) {
  #about-us, #gourmand-choice {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  #about-us div, #gourmand-choice .text-container {
    max-width: 100%;
    margin-bottom: 20px;
  }

  #about-us p, #gourmand-choice p {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  #about-us, #gourmand-choice {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  #stats {
    flex-direction: column;
    align-items: center;
  }
  .numbers-container {
  display: grid;
  grid-template-columns: 1fr ;
  gap: 20px;
  }
  .number-item {
    width: 100%;
    margin-bottom: 20px;
  }
  #about-us div, #gourmand-choice .text-container {
    max-width: 100%;
    margin-bottom: 20px;
  }

  #about-us p, #gourmand-choice p {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  #about-us h2, #gourmand-choice h2 {
    font-size: 28px;
  }

  #stats {
    flex-direction: column;
    align-items: self-start;
    text-align: left;
  }


  #about-us h3, #gourmand-choice h3 {
    font-size: 20px;
  }

  #about-us p, #gourmand-choice p {
    font-size: 14px;
  }
  .numbers-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .wine img {
    width: 50px;
  }
  #about-us h3 {
    margin-top: 45px;
  }
}



