/* Debug line */
/* * {
  outline: solid red;
} */
div.benefits__image img {
  background-image: url(../img/benefits/man-working.jpg);
}

section.benefits {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
img.benefits__image {
  width: 100%;
}

li.benefits__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
div.benefits__text {
  background-image: url(../img/benefits/benefits-background-image.png);
  background-size: cover;
  background-repeat: repeat;
  padding: 90px 30px 70px;

  .benefits__title {
    color: var(--heading-section-text-color);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .benefits__intro {
    color: var(--paragraph-section-text-color);
    font-size: 38px;
    padding: 20px 5px;
  }
  .benefits__paragraph {
    padding: 20px 15px;
    color: var(--paragraph-content-text-color);
    font-size: 19px;
  }
  div.benefits__image-block {
    display: flex;
    flex-direction: column;
  }
  img.benefits__image-logo {
    width: 50px;
  }
}

@media (min-width: 768px) {
  .benefits-container {
    display: flex;
    flex: 1;
    img.benefits__image {
      width: 140%;
      height: 100%;
      object-fit: cover;
      
    }
    li.benefits__item {
      justify-content: flex-start;
    }
    div.benefits__image-block {
      padding: 15px;
      p.benefits__item-description{
        margin:0;
      }
    }

  }
}
