/* Debug line */
/* * {
  outline: solid red;
} */

/* Фонові зображення */
div.categories__image__bottle {
  background-image: url(../img/categories/background-image-bottles-wine.png);
  width: 100%;
  height: 100%;
  background-position: 40% 50%;
  background-repeat: no-repeat;
}

.categories__image__glasses {
  background-image: url(../img/categories/background-image-glasses-and-hammer.svg);
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* Секція категорій */

.categories-container {
  padding: 20px 12px;
}
.categories__title {
  padding: 90px 0 10px 20px;
  color: var(--heading-section-text-color);
  font-size: 12px;
  text-transform: uppercase;
}

.categories__subtitle {
  color: var(--paragraph-section-text-color);
  font-size: 38px;
  padding: 0 10px;
}
.categories__description {
  color: var(--paragraph-content-text-color);
  font-size: 19px;
  padding: 5px 10px;
}
.categories__text {
  color: var(--paragraph-content-text-color);
  font-size: 19px;
  padding: 5px 10px;
}

.categories__nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

.categories__link {
  text-decoration:underline;
  color: var(--color-additional-text);
  font-size: 28px;
}

.categories__link:hover {
  cursor: grab;
}

.special-arrow {
  color: var(--background-color-signup);
  font-size: 52px;
}

.categories__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
}

.categories__item {
  padding: 20px;
}

.categories__image {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
}

.categories__item-title {
  font-size: 18px;
  margin: 10px 0;
}

.categories__item-description {
  font-size: 16px;
  margin: 10px 0;
}

.categories__item-link {
  text-decoration: none;
  background-color: var(--background-color-signup);
  color: var(--text-color-signup);
  font-size: 16px;
  padding: 5px;
  
}
.categories__item-link:hover {
  background-color: var(--text-color-background-link-categories);
}
/* Адаптація для більших екранів */
@media (min-width: 768px) {
  div.categories__image__bottle {
    background-position: 60% 50%;
  }
  .categories-container-bottles {
    max-width: 570px;
  }
  .categories__nav {
    flex-direction: row;
    justify-content: flex-start;
  }

  .special-arrow {
    display: inline;
  }

  .categories__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .categories__item {
    background-color: #fff;
    width: 270px;
    margin: 0;
  }
}
