body {
    margin: 0;
}
.container {
    display: flex;
    flex-flow: column wrap;
}

img {
    max-width: 100%;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
div.benefits__text {
    background-image: url(../img/benefits/benefits-background-image.png);
    background-size: cover;
    background-repeat: repeat;
    max-width: 100%;
    padding: 90px 30px 70px;
    
    .benefits__title {
        color: #bc6e44;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
    }
    .benefits__intro {
        color: #2a2824;
        font-size: 38px;
    }
    .benefits__paragraph{
        color: #837d87;
        font-size: 19px;
        
    }
}

@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    
    
}