.how-works {
  background-image: url(../img/wine-club/wine-club-how-it-works__background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;

  
}

.how-works__header {
  display: flex;
  flex-direction: column;

  .how-works__header-title {
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: var(--wine-club-title-color);
  }
  .how-works__header-subtitle{
    color: rgb(42, 40, 36);
    font-family: "Cormorant Infant", serif;
    font-size: 2.375rem;
    font-weight: 500;
    line-height: 2.615rem;
  }
  .how-works__header-description{
    color: rgb(131, 125, 113);
    font-size: 1.188rem;
    font-weight: 500;
    line-height: 1.781rem;
  }
}

.how-works__body {
  display: flex;
  flex-direction: row;
}

.how-works__gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.how-works__gallery-item {
  display: flex;
  flex-direction: column;
}

.how-works__gallery__item-icon {
  width: 360px;
  height: 230px;
}

.membership-benefits {
  display: flex;
  flex-direction: row;
}

.become-member {
  display: flex;
  flex-direction: row;
}
