<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Winery Page</title>
</head>

<body>
  <header>
    <h1>~ Welcome ~</h1>
    <h2>Come Visit Us to <i>Taste & Enjoy.</i></h2>
    <p>Tasting in atmospheric wine cellars;</p>
    <p>Possibility to buy the best wines at the best price.</p>
    <p>Come visit us to enjoy wines and relax sipping a divine drink.</p>
    <button>Learn More</button>
  </header>

  <section>
    <div id="adout-us">
      <img src="img/white-wine.webp" alt="White Wine" width="200" height="150" data-proofer-ignore>
      <h2>White Wine</h2>
      <p>Try the best white wines.</p>
      <em>Schedule Now</em>
      <button>Read More</button>
    </div>
    <div>
      <img src="img/pink-grapes.webp" alt="Wine Lectures" width="200" height="150" data-proofer-ignore>
      <h2>Wine Lectures</h2>
      <p>Learn more about wine.</p>
      <em>Schedule Now</em>
      <button>Read More</button>
    </div>
    <div>
      <img src="img/red-wine.webp" alt="Red Wine" width="200" height="150" data-proofer-ignore>
      <h2>Red Wine</h2>
      <p>Try the best red wines.</p>
      <em>Schedule Now</em>
      <button>Read More</button>
    </div>
  </section>

  <section id="terms">
    <h1>~ Welcome ~</h1>
    <h2>Learn More About Our Tours and Tastings.</h2>
    <p>
      Visiting our winery and wine tasting is a wonderful way to experience
      the best of what our winemaking craft has to offer.
    </p>
    <p>
      Our winery offers a unique opportunity to experience the entire
      winemaking process from vine to bottle. You can tour our vineyards,
      witness the harvesting of the grapes, and learn about the different
      stages of winemaking. With a guided tour, you will learn about the
      history of our winery and the different types of wine we produce. Our
      knowledgeable staff will guide you through the different varietals and
      styles of our wines.
    </p>
    <div>
      <div>
        <h3>Craft Wines</h3>
        <p>Our wines are carefully crafted and aged to perfection.</p>
        <img src="https://res2.weblium.site/res/6401ec61cc3f46000dbada87/640ee7118deaa5000d5e4a77" alt="Craft Wines"
          width="200" height="150">
      </div>
      <div>
        <h3>The Best Wine Styles</h3>
        <p>Our staff will tell you all about our wines.</p>
        <img src="https://res2.weblium.site/res/6401ec61cc3f46000dbada87/640ee70d00e445000ddf9440" alt="Best Wines"
          width="200" height="150">
      </div>
      <div>
        <h3>Idea for a Holiday</h3>
        <p>Pinot Noir is a great idea for a family holiday or a romantic time.</p>
        <img src="https://res2.weblium.site/res/6401ec61cc3f46000dbada87/640ee711803997000c073a75"
          alt="Idea for Holiday" width="200" height="150">
      </div>
      <div>
        <h3>Great Atmosphere</h3>
        <p>Our winery is best for all visitors, fun, relaxing atmosphere.</p>
        <img src="https://res2.weblium.site/res/6401ec61cc3f46000dbada87/640ee711803997000c073a76"
          alt="Great Atmosphere" width="200" height="150">
      </div>
    </div>
  </section>

  <section id="partners">
    <h1>~ Partners ~</h1>
    <h2>Our Lovely Partners.</h2>
    <p>We work with a variety of brands and shops.</p>
    <div>
      <img src="https://res2.weblium.site/res/6401ec61cc3f46000dbada87/640ef19c803997000c074788" alt="Partner 1"
        width="100" height="100">
      <img src="https://res2.weblium.site/res/6401ec61cc3f46000dbada87/640ef19e803997000c07479d" alt="Partner 2"
        width="100" height="100">
      <img src="https://res2.weblium.site/res/6401ec61cc3f46000dbada87/640ef19600e445000ddfa21e" alt="Partner 3"
        width="100" height="100">
      <img src="https://res2.weblium.site/res/6401ec61cc3f46000dbada87/640ef1958deaa5000d5e5753" alt="Partner 4"
        width="100" height="100">
      <img src="https://res2.weblium.site/res/6401ec61cc3f46000dbada87/640ef19b803997000c074772" alt="Partner 5"
        width="100" height="100">
      <img src="https://res2.weblium.site/res/6401ec61cc3f46000dbada87/640ef198803997000c07475c" alt="Partner 6"
        width="100" height="100">
      <img src="https://res2.weblium.site/res/6401ec61cc3f46000dbada87/640ef199f689e7000e9df581" alt="Partner 7"
        width="100" height="100">
      <img src="https://res2.weblium.site/res/6401ec61cc3f46000dbada87/640ef19af689e7000e9df595" alt="Partner 8"
        width="100" height="100">
    </div>
  </section>

  <section id="contact">
    <div>Want to become our partner? Don't hesitate to contact us.</div>
  </section>

  <section id="privacy">
    <h1>Privacy Policy</h1>
    <p>This is the privacy policy section.</p>
  </section>

  <section id="legal">
    <h1>Legal Terms</h1>
    <p>This is the legal terms section.</p>
  </section>

<!--Start Mariia Kozlovska-->

    <!--Meet our professional team-->
    <section class="professional-team">
<div class="meet-our-professional-team__title-container">
    <h2 class="header">~ our team ~</h2>
    <p class="main-title-part-3">Meet our <i>professional</i> team</p>
    <p class="title-part-3">Our team is our proud. Each of the team members is dedicated to creating the finest wines.</p>
</div>
<div>
  <img src="img/img_our-team_events/our-team_man-in-the-vineyard.jpg" alt="John-Smith-photo">
  <p class="profession">Discoverer</p>
  <p class="name">John Smith</p>
  <p class="info">John Smith opened his interest in wine more than fourteen years ago working at a farm and in a wine bar. </p>
  <details>
    <summary>Read more</summary>
    His urge to get closer to the action led him to Texas where he was inspired by the best winery owners and winemaking professionals while building and managing their wine programs for several local restaurants.
Smith decided to deepen his interest in winemaking industry and gained a Certificate in Viticulture from the Santa Rosa Junior College. Next he pursued a degree in Enology, Plant Science, and Chemistry, and gained winemaking experience while also experimenting with his favorite wine in his own backyard project with his wife, Mary. Finally, he embarked upon an extensive search throughout the area for a suitable location to start a commercial vineyard. That was a foundation of the Pinot Noir Winery.
  </details>
</div>
<div>
    <img src="img/img_our-team_events/our-team_jason-arnolds.jpg" alt="Jason-Arnolds-photo">
    <p class="profession">Head Winemaker</p>
    <p class="name">Jason Arnolds</p>
    <p class="info">Jason is responsible for overseeing the production of wine from grape to bottle and for developing and maintaining quality wine.</p>
</div>
<div>
    <img src="img/img_our-team_events/our-team_albert-drendt.jpg" alt="Albert-Drendt-photo">
    <p class="profession">Tour Guide</p>
    <p class="name">Albert Drendt</p>
    <p class="info">Albert leads tours of our winery and cellars where our wine is stored. Albert knows everything about our wines.</p>
</div>
<div>
   <img src="img/img_our-team_events/our-team_eliza-anderson.jpg" alt="Eliza-Anderson-photo">
    <p class="profession">Head of Marketing</p>
    <p class="name">Eliza Anderson</p>
    <p class="info">Eliza is engaged in marketing activities and promotes our winery in social networks. She plans promotions and events.</p>
</div>
<div>
    <img src="img/img_our-team_events/our-team_samantha-welsh.jpg" alt="Samantha-Welsh-photo">
    <p class="profession">Sommelier</p>
    <p class="name">Samantha Welsh</p>
    <p class="info">Samantha is a skilled professional trained in all aspects of wine and food pairing, selection, storage, and wine tasting.</p>
</div>
<div>
    <img src="img/img_our-team_events/our-team_carlos-kiersh.jpg" alt="Carlos-Kiersh">
    <p class="profession">Tasting Room Manager</p>
    <p class="name">Carlos Kiersh</p>
    <p class="info">Carlos meets guests at the tasting and introduces them to our wines. He is fully responsible for wine tastings.</p>
</div>
<div>
    <img src="img/img_our-team_events/our-team_dean-williams.jpg" alt="Dean-Williams-photo">
    <p class="profession">Head Guest Relations</p>
    <p clas="name">Dean Williams</p>
    <p class="info">Dean is responsible for guest service and guest satisfaction after visiting our events, wine tastings, and guided tours.</p>
</div>

    </section>
    <!--Join our events-->
    <section class="professional-team">
<div>
    <h2 class="header">~our events~</h2>
    <p class="main-title-part-3">Join our events.</p>
    <p class="title-part-3">From time to time, we hold various events in our vineyards and cellars.</p>
</div>
<div>
    <h3 class="event">Barrel Room Event</h3>
    <p class="date">Monday, April 24, 2024</p>
    <p class="time">11:00 am - 4:00 pm</p>
</div>
<div>
    <h3 class="event">Cello Concert</h3>
    <p class="date">Tuesday, May 02, 2024</p>
    <p class="time">2:00 pm - 9:00 pm</p>
</div>
<div>
    <h3 class="event">Pinot Noir Learnshop</h3>
    <p class="date">Monday, September 04, 2024</p>
    <p class="time">12:00 a.m. - 2:00 p.m.</p>
</div>
<div>
    <h3 class="event">Jazz & Wine</h3>
    <p class="date">Thursday, September 14, 2024</p>
    <p class="time">11:00 am - 4:00 pm</p>
</div>
<div>
    <h3 class="event">Wine & Art</h3>
    <p class="date">Sunday, October 01, 2023</p>
    <p class="time">2:00 pm - 9:00 pm</p>
</div>
<div>
    <h3 class="event">Food & Wine Pairing</h3>
    <p class="date">Sunday, October 08, 2023</p>
    <p class="time">8:00 p.m. - 9:00 p.m.</p>
</div>
<div>
    <img src="img/img_our-team_events/our-team_family-in-the-vineyard.jpg" alt="Two-people-drinking-vine">
</div>
<div>
    <p class="contacts">Call us & join</p>
    <address class="phone">
        <a href="tel:+12345678900">+1 (234) 5678‑900</a>
        <img src="img/img_our-team_events/our-events_phone.png" alt="phone-logo">
      </address>
</div>
<div>
    <p class="contacts">Write us</p>
    <address class="email">
        <a data-proofer-ignore href="pinotnoir@example.com">pinotnoir@example.com</a><br/>

        <img src="img/img_our-team_events/our-events_email.png" alt="email-logo">
    </address>
</div>
    </section>
<!--Finish Mariia Kozlovska-->

</body>

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us | Winery</title>
    <link
      rel="shortcut icon"
      href="https://placekitten.com/96/139"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="css/index.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <main class="main">
      <section
        class="history"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="about-us.history.partial.html"
      ></section>
      <section
        class="our-team"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="about-us.wine-and-our-team.partial.html"
      ></section>
    </main>
    <footer>
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.footer-nav.partial.html"
      ></nav>
    </footer>
  </body>
</html>
