<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us | Winery</title>
    <link rel="icon" href="img/icon-title.png" type="image/png" />
    <link rel="stylesheet" href="css/about-us.css" />
    <link
      rel="shortcut icon"
      href="https://placekitten.com/96/139"
      type="image/x-icon"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
</head>
<body>
    <header>
      <div class="about-us__header-background">
        <nav
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="global.header-nav.partial.html"
        ></nav>
        <nav
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="about-us.header-nav.partial.html"
        ></nav>
      </div>
    </header>
    <main class="main">
      <section
        class="history"
        id="about-us"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="about-us.history.partial.html"
      ></section>
      <section
        class="about-us__partners"
        id="partners"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="about-us.partners.partial.html"
      ></section>
      <section
        class="our-team"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="about-us.wine-and-our-team.partial.html"
      ></section>
    </main>
    <footer class="footer">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.footer-nav.partial.html"
      ></nav>
    </footer>
</body>
</html>
