<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Collection Page | Winery</title>
    <link
      rel="shortcut icon"
      href="https://placekitten.com/96/139"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="css/collection.css" />
    <link rel="icon" href="img/icon-title.png" type="image/png" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="collection__header-background">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="collection.header-nav.partial.html"
      ></nav>
    </header>

    <section
      class="collection-wine__list"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="collection.list-wine.partial.html"
    ></section>
    <section
      class="collection-wine__menu"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="collection.menu.partial.html"
    ></section>
    <section
      class="collection-tasting-menu"
      id="menu"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="collection.tasting-menu.partial.html"
    ></section>
    <footer>
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.footer-nav.partial.html"
      ></nav>
    </footer>
  </body>
</html>
