<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacts Page | Winery</title>
    <link
      rel="shortcut icon"
      href="https://placekitten.com/96/139"
      type="image/x-icon"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <nav>
        <ul>
          <li><a href="contacts.html#distribution">Distribution</a></li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <section class="visit-us__form">
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="contacts.visit-us.partial.html"
    </section>
<section class="guided-tour">
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="contacts.guided-tour.partial.html"
  </section>
  <section class="distribution">
  data-hx-swap="outerHTML"
  data-hx-get="contacts.distribution.partial.html"
</section>
    </main>
    <footer></footer>
  </body>
</html>
