<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Winery</title>
    <link
      rel="shortcut icon"
      href="https://placekitten.com/96/139"
      type="image/x-icon"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <header>
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.header-hero.partial."
      ></nav>
    </header>
    <main>
      <section
        class="about us"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.about-us.partial.html"
      ></section>
      <!-- Start Sections Hofner Oleksandr -->
      <section
        class="benefits"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.benefits.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.benefits.signup.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.categories.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.our-vineyards.partial.html"
      ></section>
      <!-- End Sections Hofner Oleksandr -->
      <!-- Start Sections Dobrovolskyi Pavlo -->
      <section
        class="testimonials"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.testimonials.partial.html"
      ></section>
      <section
        class="gallery"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.gallery.partial.html"
      ></section>
      <!-- End Sections Dobrovolskyi Pavlo -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.collection.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.vine-club.partial.html"
      ></section>
    </main>
    <footer class="footer">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.footer-nav.partial.html"
      ></nav>
    </footer>
  </body>
</html>
