<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Winery</title>
    <link
      rel="shortcut icon"
      href="https://placekitten.com/96/139"
      type="image/x-icon"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="contacts.html#distribution">Distribution</a></li>
          <li><a href="contacts.html">Contacts</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <!-- Start Sections Hofner Oleksandr -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.benefits.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.benefits.signup.partial.html"
      ></section>
      <!-- End Sections Hofner Oleksandr -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.collection.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.testing.conditions.partial.html"
      ></section>
      <section 
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.about-us-part3.partial.html">
        </section>
       data-hx-trigger="load"
       data-hx-swap="outerHTML"
       data-hx-get="index.testing.conditions.partial.html"
    ></section> 
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.guided-tour.partial.html"
    ></section>
    </main>
    <footer class="footer">
      <div class="footer__container">
          <div class="footer__contacts">
              <p class="footer__contact-item">
              Write Us: <a class="footer__contact-link" href="mailto:info@example.com">pinotnoir@example.com</a> data-proofer-ignore
              </p>  
              
              <p class="footer__contact-item">
                  Call Us: <a class="footer__contact-link" href="tel:+12345678900">+1 (234) 567 89 00</a> data-proofer-ignore
              </p>
          </div>
          <div class="footer__menu">
            <img class="footer__menu-item" src="./img/footer/logo-footer.svg" alt="company logo">
            <p class="footer__contact-item">Our artisan winery located in Austin, Texas is committed to producing delicious, interesting, well-balanced wines with the complexity of flavors. Come and join our tastings or order delvery.</p>
            <hr class="footer__contact-item">
            <ul class="footer__menu-list">
                  <li class="footer__menu-item"><a class="footer__menu-link" href="index.html">Main</a> </li>
                  <!--<li class="footer__menu-item"><a class="footer__menu-link" href="about.html">About Us</a></li>
                  <li class="footer__menu-item"><a class="footer__menu-link" href="collection.html">Collection</a></li>
                  <li class="footer__menu-item"><a class="footer__menu-link" href="contacts.html">Contacts</a></li> -->
              </ul>
        </div>
      </div>
      <p class="footer__text">© 2024 Your Company. All rights reserved.</p>
  </footer>
  
  </body>
</html>
